body {
	background-color: #D8F6CE;
}

h4 {
	text-decoration: underline;
}

table, td, th {
	border-collapse: collapse;
	border: 1px solid black;
}

td {
  	padding: 4px;
  	text-align: left;
}

th {
	padding: 4px;
  	text-align: center;
}

tr:nth-child(even) {
	background-color: #CEF6CE;
}

thead {
	background-color: #BCF5A9;
	height: 55px;
	align-content: center;
}

a {
	color: blue;
}

.ui-tabs-nav {
	background-color: #A9F5D0;

}

div#loninmatning {
	border-top: 3px solid green;

}
a:link {
	color: blue;
	text-decoration: none;
}

a:hover {
  	color: green;
}
a:visited{
	color: blueviolet;
}

div#lankar {
	margin: auto;
  	width: 50%;
  	padding: 10px;
}

div#jensa {
	margin: auto;
  	width: 70%;
  	padding: 10px;
}

div.innerdiv{
	margin: auto;
  	width: 90%;
  	padding: 10px;
}

li {
	padding: 10px;
}

ol {
	padding: 20px;
}
